
body {
  padding-top: 75px;
  color: #2D4350;
  font-size: 1.1rem;
  font-family:   Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif, Courier, monospace;
}

section {
  padding: 60px 0;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

@media (max-width: 768px){
  .text-xl {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
.bar-primary{
  height:4px;
  width:40px;
  border-radius: 5px;
  transition: width 0.2s ease;
}

.myShadow {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.card-tools img{
  height: 3.5rem;
  width: 3.5rem;
}
.transition{
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transition:hover{
  --tw-translate-y: -0.5rem;
}

.img-project  {
  min-height: 220px;
  object-fit: cover;
  position: relative;
  transition: all .2s;
  -webkit-transition:all .2s; 
  -moz-transition:all .2s;

}
.card-project {
  border-radius: 1rem;
  box-shadow: none;
}

@media screen and (min-width: 768px) {
  .card-project {
    box-shadow: 8px 0px 0px rgb(6, 171, 248);
  }
}
.card:hover img.img-project{
  
  transform:scale(1.1) ;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  box-shadow: 0 0 5px -2px rgba(0,0,0,0.3);
  /* transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1); */
  
}

.card:hover .bar-primary{
  width: 70px;
}

.card:hover h5{
  color: #75a2f7;
}
a, a:hover {
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #9b67df;
  outline: 0;
  box-shadow: none;
}

.btn.btn-primary:focus, .btn.btn-outline-primary:focus {
  outline: 0;
  box-shadow: none;
}